# Azure AD — uzyskaj z portal.azure.com > App registrations
AZURE_AD_CLIENT_ID=twoj-client-id
AZURE_AD_CLIENT_SECRET=twoj-client-secret
AZURE_AD_TENANT_ID=twoj-tenant-id

# NextAuth
NEXTAUTH_SECRET=wygeneruj-przez-openssl-rand-base64-32
NEXTAUTH_URL=https://geo3.seaclouds.eu

# SharePoint — uzupełnione na podstawie Graph Explorer
SHAREPOINT_SITE_ID=ejsea.sharepoint.com,f373b313-67f9-48cb-bbae-7760599c1f10,8a12d04f-095a-4f20-80af-fed8c4465b50
SHAREPOINT_DRIVE_ID=b!E7Nz8_lny0i7rndgWZwfEE_QEopaCSBPgK_-2MRGW1A0vgGD2bGdRozIu_g6stFs
ONEDRIVE_FILE_ID=d0286e8a-3365-4f45-b9f2-1c9592146176
